.card-Optical{
    // margin-right: 30px;
    margin-bottom: 104px;
    img{
        width: 255px;
        height: 164px;
    }
    p{
        font-size: 24px;
        &:nth-child(1){
            font-family:Roboto-Regular;
        }
        &:nth-child(2){
            font-family: Roboto-Medium;
            color:#AA0601
        }
    }
    .productTxt{
        display: flex;
        justify-content: space-between;
        line-height: 30px;
    }
    .productColor{
        display: flex;
        .colorItem{
            width: 24px;
            height: 24px;
            border-radius: 4px;
            margin-right: 8px;
            &:nth-child(1){
                background-color: #5F3E2D;
            }
            &:nth-child(2){
                background-color: #B75929;
            }
        }
    }
}



@media(max-width:1024px){
    .card-Optical{
        width:32%;
        img{
            width: 302px;
            height: 175px;
        }
    } 
}



@media(max-width:768px){
    .card-Optical{
        // margin-right: 30px;
        width: 43%;
        margin-bottom:72px;
        img{
            width: 330px;
            height: 164px;
        }
        p{
            font-size: 24px;
        }
    }
}

@media(max-width:576px){
    .card-Optical{
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
}

