$bgColor: red;
$txtColor:white;


nav{
    display: flex;
    justify-content: space-between;
    background-color:$bgColor;
    color:$txtColor;
    .logo{
        a{
          display: block;
          width: 80px;
          height: 49px;
          background:image('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true'); 
          text-indent: 101%;
          white-space: nowrap;
          overflow: hidden;
        }
    }
}

