$layoutTxtColor:white;

footer{
    font-family:Roboto-Regular;
    a{
        color:$layoutTxtColor;
        &:hover{
            opacity: 0.7;
        }
 }
    img{
        max-width: 100%;
        &:hover{
            opacity: 0.7;
        } 
    }
}

.logoFixed{
    display: none;
}

.footerLink{
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
    
}

.footerList{
    justify-content: space-between;
    align-items: center;
}

.footerContact{
    a{
     line-height: 54px;
     align-items: center;
    }
    img{
        width: 48px;
        height: 48px;
    }
}



.copyright{
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
    .copyrightLogo{
        align-items: center;
    }
}



@media(max-width:1024px){
    footer{
        .container{
            padding:40px 48px;
            .footerLink{
                padding:0;
                .socialMedia{
                    img{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            .footerContact{
                padding-bottom:17px;
                a{
                   line-height: 30px;
                }
                img{
                    width: 20px;
                    height: 20px;
                }
            }
            .copyright{
                padding:24px 0 0 0 ;
                img{
                    display: none;
                }
                .copyrightLink{
                    padding-right:10px;
                }
            }
        }
    }
    
}

@media(max-width:540px){
    footer{
        .container{
            padding:25px 15px;
            position: relative;
            .footerLink{
                display: flex;
                align-items: flex-start;
                .link{
                    display: none;
                  }
                }
                .footerContact{
                    margin:0;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }   
            }
            .copyright{
                flex-wrap:wrap;
                padding:18px 0 0 0 ;
                flex-direction: column;
                align-items: flex-start;
                .copyrightLink{
                    flex-direction: column;
                    a{
                        
                    }

                }
                span{
                    display: inline-block;
                    margin-bottom: 8px;
                   
                }
            }
            .logoFixed{
                width: 45px;
                height: 30px;
                display: block;
                position: absolute;
                bottom: 20px;
                right: 15px;
                img{
                    width: 100%;
            }
        }
    }
}