$layoutTxtColor:white;





img{
    max-width: 100%;
    display: block;
}
.navBanner{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:30px 88px;
        .link{
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            line-height: 30px;
            li{
                margin-left: 64px;
            }
            a{
                text-decoration: none;
                display:block;
                color:$layoutTxtColor;
                &:hover{
                    font-size: 24px;
                    padding: 10px;
                    
                }   
            }
            
        }
    }



@media(max-width:1024px){
 .navBanner{
    padding:30px 39px;
    .link li{
        margin-left: 40px;
    }
 }

}

@media(max-width:540px){
    .navBanner{
        flex-direction: column;
        padding:0;
        
        .logo{
            padding:10px 0;
            img{
                width: 48px;
                height: 30px;
            }
        }
        .link{
            flex-wrap: wrap;
            width:100%;
            li{
                width: 50%;
                text-align: center;
                margin:0;
                padding:8px 0;
                border:solid 1px #fff
            }
        }
    }
}
