
.banner{
    background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true") 
    no-repeat center center;
    height: 840px;
    color:#650300;
    font-family: NotoSans-Regular;
    background-size:cover;
    .bannerTxt{
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        span{
            text-align: right;
            display: block;
        }       
    }
}

.service{
    background-color:#AA06010D;
    color:#650300;
    padding:64px 0 80px 0;
    .servicelist{
        justify-content:space-around;
        li{
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            align-items: center;
            width: 20%;
        }
        img{
            width: 100px;
            height: 100px;
            display: block;
        }
        h3{
            font-family: NotoSans-Bold;
        }
        p{
            color:#000;
            font-family: NotoSans-Regular;  
        }
    }
    
}

.glassesType{
    padding:64px 0 60px 0;
    color:#650300;
    img{
        display: block;
        width: 635px;
    }
    li{
        align-items: center;
    }
    h3{
        color:#AA0601;
        font-family:Roboto-BlackItalic;
        &::before{
            //在h3前面擺一個偽元素
            content:'';
            width: 48px;
            height: 48px;
            display: inline-block;  
            top:6px;
            position: relative;
            margin-right: 8px;     
        }
    }
}

.optical{
    //偽元素的樣式
    &::before{
        content: '';
        background:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-diamond.svg) no-repeat center;
    }
}
.sunglasses{
    &::before{
        content: '';
        background:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-sun.svg) no-repeat center;
    }
}
.functional{
    &::before{
        content: '';
        background:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-thunder.svg) no-repeat center;
    }
}

.glassesCrossover{
    // height: 734px;
    background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true") no-repeat center;
    background-size: cover;
    padding: 64px 80px;  
    .crossoverList{
        justify-content: center;
        align-items: center;
        color:#AA0601;
        font-family: Roboto-Bold;
        .mask{
            width: 100%;
            height:100%;
            background-color: #fff;
            position: absolute;
            opacity: 0.5;
        }
        
    }
    h3{
        z-index:1
    }
    h2{
        color:#fff;
        text-align: center;
        
    }
    
}

.doubleA {
    background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true") no-repeat center;
    background-size: cover;
    height: 472px;
    width: 50%;
    position: relative;      
}
.youth{
    background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true") no-repeat center;
    background-size: cover;
    height: 472px;
    width: 50%;
    position: relative;
}

.recommend{
    padding:64px 0;
    h2{
        color:#650300;
    }
    li{
        border:1px solid #DEE2E6;
    }
    img{
        display: block;
        width: 100%;
        height: auto;
    }
    .recommendTxt{
        color:#212529;
        padding:14px 16px;
        font-family: Roboto-Regular;
        .name{
            font-family: Roboto-Medium;
        }
        span{
            color:#707070

        }
    }
}


.contact{
    padding:64px 80px;
    background-color: #AA06010D;
    h2{
        text-align: center;
        font-family: NotoSans-Bold;
    }
    .formContent{
        margin: 0 auto;
        width: 730px;
        input,textarea{ 
            display: block;
            width: 100%;
            background: transparent;
            border:1px solid #000;
            padding: 14px 16px;
        }
        input[type="checkbox"]{
            display: unset;
            width: auto;     
          }
          .submit{
            display: block;
            margin:42px auto 0 auto;
            cursor: pointer;
            width: 350px;
            background-color: #AA0601;
            color:#fff;
            padding:16px 0;
            border:none;
          }
    }
}


@media(max-width:1024px){
    .banner{
        background:url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true") no-repeat center;
        padding: 0 39px;
    }
    .service{
        padding:40px 86px 80px 86px;
        .container{
            padding: 0;
        }
        .servicelist{
            justify-content: space-between;
            flex-wrap: wrap;
            li{
                width: 40%;
            }
            img{
                width: 80px;
                height: 80px;
            }
        }
    }
    .glassesType{
        padding: 40px;
        .container{
            padding: 0;
        }
        img{
            width: 519px;
            height:auto;
        }
       h3{
        &::before{
            width: 32px;
            height: 32px; 
            background-size:contain;
          }
       }
    }
    .glassesCrossover{
        padding:40px 39px;
        h2{
            padding: 0;
        }

       
    }
    .recommend{
        padding: 40px 39px;
       ul{
           flex-wrap: wrap;
           justify-content: space-around;
        li{
            width: 47%;
        }
       }
       .recommendTxt{
           padding: 16px;
       }   
    }       
    .contact{
        padding: 40px 0;
        .formContent{
            input, textarea{
                padding:8px 12px;
            }
            .submit{
                width: 210px;
                padding: 8px 0;
            }
        }
    }
}

@media(max-width:768px){
    .doubleA , .youth {
        width: 330px;
        height: 280px;
    }
}

@media(max-width:576px){
   .banner{
    background: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true') no-repeat ;
    background-position: left;
    background-size: cover;
    height: 394px;
    padding:0 15px ;
   }
  .service{
      padding:32px 0 52px 0;
      .servicelist{
          justify-content: center;
        li{
            width: 60%;
        }
      }      
  }
    .glassesType{
        padding:32px 15px;
        li{
            justify-content: center;
            img{
                width: 100%;
                height:auto;
                
            }
            h3{
                color:#fff; 
                position: absolute;
                           
            }
        }    
       
        .optical{
            &::before{
                content: '';
                background:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-diamond-white.svg) no-repeat center;
            }
        }
        .sunglasses{
            &::before{
                content: '';
                background:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-sun-white.svg) no-repeat center;
            }
        }
        .functional{
            &::before{
                content: '';
                background:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-thunder-white.svg) no-repeat center;
            }
        }
  }
  .glassesCrossover{
      padding:32px 15px;
      .crossoverList{
          flex-wrap: wrap;
          .doubleA , .youth {
            width: 330px;
            height: 280px;
        }
        
      }  
  }
  .recommend{
    padding:32px 15px;
    ul{
        li{
            width: 100%;
      }
    }
  }
  .contact{
    padding:32px 15px;
    .formContent{
        width: 100%;
        .submit{
            width: 165px;
        }   
    } 
  }
}

@media(max-width:375){
    .doubleA , .youth {
        width: 345px;
        height:284px;
    }
}