.qaBanner{
    background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/qa.png?raw=true) no-repeat center center;
    height: 304px;
    background-size: cover;
    .qaTxt{
        align-items: flex-end;
        height: 100%;
        h2{
            align-items: center;
            &::after{
                content:'';
                width: 40px;
                height: 58px;
                margin-left: 24px;
                display: inline-block;
            }
        }
        .qaIcon{
            &::after{
                content:"";
                background:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week3/icon-help.svg) no-repeat center;
                background-size: contain;
            }
        }
     }
}



.qaList{
    padding-bottom:264px;
    .qaTxt{
        margin-bottom: 40px;
        h3{
            font-size: 20px;
            line-height: 28px;
            font-family: NotoSans-Bold;
            font-weight: bold;
            margin-bottom: 16px;
        }
        p{
            padding-left: 104px;
            font-family: NotoSans-Regular;
            line-height: 24px;
            font-weight: bold;
        }
    }
}


@media(max-width:1024px){
    .qaBanner{
        padding:0 39px;
        height: 304px;
        .bannerTxt{
            h2{
                &::after{
                    content:'';
                    width: 30px;
                    height: 44px;
                    margin-left: 16px;
                }
           }
       }
    }
    .qaContent{
        padding:0 39px;
    }
    .qaList{
        padding-bottom: 64px;
        .qaTxt{
            margin-bottom: 40px;
            p{
                padding-left: 60px;
            }
        }
    }
    
}

@media(max-width:540px){
    .qaBanner{
        padding:0 15px;
        height: 143px;
        .bannerTxt{
            h2{
                &::after{
                    content:'';
                    width: 17px;
                    height: 24px;
                    margin-left: 8px;
                }
           }
       }
    } 
    .qaContent{
        padding:0 15px;
    }
    .qaList{
        padding-bottom: 36px;
        .qaTxt{
            margin-bottom: 20px;
            p{
                padding-left: 0px;
            }
        }
    }
}