<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav>
   <h1 class="logo"><a href="">六角眼鏡行</a></h1>
   <ul>
     <li>系列鏡框</li>
     <li>門市據點</li>
     <li>部落格</li>
     <li>常見問題</li>
   </ul>
  </nav>

  <%- contents %>

  <footer class="footer">
    footer
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
