
@import "layout/navBar";
@import "layout/footer";
@import "pages/index";
@import "pages/productsOptical";
@import "pages/location";
@import "pages/blog";
@import "pages/singleLocation";
@import "pages/articlePage";
@import "pages/qa";
@import "helper/reset";
@import "helper/utilities";
@import "helper/variables";
@import "component/productComponent";
@import "component/locationComponent";
@import "component/blogComponent";







$color: #00cc99;

// .header {
//   height: 200px;
//   background-color: #00cc99;
// }

// .footer {
//   height: 200px;
//   background-color: #00cc99;
// }

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
