////fontFamily////
.Roboto-Me{
    font-family: Roboto-Medium;
}

.Roboto-Re{
    font-family:Roboto-Regular;
}

.Roboto-Bo{
    font-family: Roboto-Bold;
}


.Noto-Bo{
    font-family: NotoSans-Bold;
}

.Noto-Re{
    font-family: NotoSans-Regular;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 156px;
    font-family:Roboto-Regular;
    li{
        border:1px solid #555555;
        &:hover{
           background-color: #ddd; 

        }
        a{
            padding:12px;
            color:#000;
            font-size: 19px;
        }
    }
    .next{
        background-color: #F2F2F2;
    }
}

.d-flex{
    display: flex;
} 



.d-inline{
    display: inline-block;
}

.rowReverse{
    flex-direction:row-reverse
}


.fw-bold{
    font-weight: bold;
}

.bottom-line{
border-bottom: 1px solid #fff;
}

.bottom-lineDark{
    border-bottom: 1px solid #707070;
    }
    

.obj-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexTitle{
    text-align: center;
    font-family: NotoSans-Bold;
    margin-bottom: 60px;
    font-weight: bold;
}

.color-primary{
    color:#AA0601
}

.color-dark{
    color:#6C6C6C
}

.color-article{
    color:#0A0A0A
}
////font-size/////
.fz-14{
    font-size: 14px;
}

.fz-20{
    font-size: 20px;
}

.fz-24{
    font-size: 24px;
}

.fz-28{
    font-size: 28px;
}

.fz-32{
    font-size: 32px;
}

.fz-36{
    font-size: 36px;
}

.fz-42{
    font-size: 42px;
}

.fz-48{
    font-size: 48px;
}

.fz-64{
    font-size: 64px;
}

.fz-72{
    font-size: 72px;
}

////line-height////

.lh-21{
    line-height: 21px;
}

.lh-24{
    line-height: 24px;
}

.lh-30{
    line-height: 30px;
}

.lh-36{
    line-height: 36px;
}

.lh-37{
    line-height: 37px;
}

.lh-63{
    line-height: 63px;
}

.lh-72{
    line-height: 72px;
}

.lh-67{
    line-height: 67px;
}

.lh-90{
    line-height: 90px;
}

.lh-96{
    line-height: 96px;
}

.lh-108{
    line-height: 108px;
}

//////////
.bg-primary{
    background-color: #AA0601;
}

.layoutTxtColor{
    color:#fff
}


////margin-left////

.ml-30{
    margin-left: 30px;
}

.ml-62{
    margin-left: 62px;
}

.ml-77{
    margin-left: 77px;
}

// @media(max-width:375px){
//     .ml-62{
//         margin-left: 24px;
//     }
// }

////margin-right////
.mr-12{
    margin-right: 12px;
}

.mr-16{
    margin-right: 16px;
}

.mr-19{
    margin-right: 19px;
}

.mr-20{
    margin-right: 20px;
}

.mr-30{
    margin-right: 30px;
}

.mr-32{
    margin-right: 32px;
}

.mr-38{
    margin-right: 38px;
}

.mr-48{
    margin-right: 48px;
}



////margin-top////
.mt-32{
    margin-top: 32px;
}

.mt-42{
    margin-top: 42px;
}

////margin-bottom////

.mb-4{
    margin-bottom: 4px;
}

.mb-7{
    margin-bottom: 7px;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-14{
    margin-bottom: 14px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-17{
    margin-bottom: 17px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-22{
    margin-bottom: 22px;
}

.mb-23{
    margin-bottom: 23px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-36{
    margin-bottom: 36px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-60{
    margin-bottom: 60px;
}

.mb-80{
    margin-bottom: 80px;
}

.mb-82{
    margin-bottom: 82px;  
}

.mb-88{
    margin-bottom: 88px;
}

.mb-104{
    margin-bottom: 104px;
}

.mb-304{
    margin-bottom: 304px;
}

@media(max-width:1024px){


    .indexTitle{
        text-align: center;
        font-family: NotoSans-Bold;
        margin-bottom: 32px;
        font-weight: bold;
    }

    .flex-md-row{
        flex-direction: row;
    }

    ////line-height////

    .lh-md-24{
        line-height: 24px;
    }

    .lh-md-43{
        line-height: 43px;
    }

    .lh-md-67{
        line-height: 67px;
    }

    .lh-54{
        font-size: 30px;
    }

    .lh-72{
        line-height: 48px;
    }

    .fz-96{
        font-size: 72px;
    }



    ////font-size////

    .fz-24{
        font-size: 20px;
    }

    .fz-md-28{
        font-size: 28px;
    }
    
    .fz-48{
        font-size: 32px;
    }

    .fz-36{
        font-size: 20px;
    }
    .fz-64{
        font-size: 48px;
    }

    .fz-md-16{
        font-size: 16px;
    }
    .fz-md-14{
    font-size: 14px; 
    }
    .fz-md-28{
        font-size: 28px;
    }

    .fz-md-32{
        font-size: 32px;
    }
    .fz-md-48{
        font-size: 48px;
    }
    ////margin-right////
    .mr-12{
        margin-right: 9px;
    }
    .mr-32{
        margin-right: 24px;
    }
    .mr-48{
        margin-right: 40px;
    }

    .mr-md-0{
        margin-right: 0px;
    }

    .mr-md-30{
        margin-right: 30px;
    }   
    ////margin-bottom////
    .mb-md-8{
        margin-bottom: 8px;
    }

    .mb-md-12{
        margin-bottom: 12px;
    }

    .mb-md-16{
        margin-bottom: 16px;
    }

    .mb-md-28{
        margin-bottom: 28px;
    }

    .mb-md-32{
        margin-bottom: 32px;
    }

    .mb-md-40{
        margin-bottom: 40px;
    }
    .mb-md-104{
        margin-bottom: 104px;
    }

   ////margin-left////
   .ml-md-0{
       margin-left: 0px;
   }
}

@media(max-width:576px){

    .pagination{
        margin-bottom: 56px;
        li{
            a{
                padding:10px;
                color:#000;
                font-size: 12px;
            }
        }
    }
    .sm-rowReverse{
        flex-direction:row-reverse
    }
    ////line-height////
    .lh-sm-20{
        line-height: 20px;
    }

    .lh-sm-22{
        line-height: 22px;
    }

    .lh-sm-40{
        line-height: 40px;
    }

    .lh-sm-45{
        line-height: 45px;
    }

    .lh-sm-28{
        line-height: 28px;
    }

    .fz-sm-14{
        font-size: 14px;
    }

    .fz-sm-16{
        font-size: 16px;
    }

    .fz-sm-20{
        font-size: 20px;
    }

    .fz-sm-24{
        font-size: 24px;
    }

    .fz-sm-28{
        font-size: 28px;
    }

    .fz-sm-32{
        font-size: 32px;
    }

    .ml-sm-0{
        margin-left: 0px;
    }

    .mb-sm-8{
        margin-bottom: 8px;
    }

    .mb-sm-16{
        margin-bottom: 16px;
    }
    .mb-sm-20{
        margin-bottom: 20px;
    }

    .mb-sm-30{
        margin-bottom: 30px;
    }
    .mb-sm-54{
        margin-bottom: 54px;   
    }

    .mr-sm-0{
    margin-right: 0;
    }

    .mr-sm-12{
        margin-right: 12px;
    }
    .indexTitle{
        text-align: center;
        font-family: NotoSans-Bold;
        margin-bottom: 20px;
        font-weight: bold;
    }  
}




@media(max-width:375px){
    
    .ml-sm-0{
        margin-left: 0px;
    }

    .mr-sm-0{
        margin-right: 0px;
    }

    .fz-36{
        font-size: 16px;
    }
 
}